<!DOCTYPE html>
<html>
  <head>
    <title>Boulder Here!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar">
        <a href="/home" class="navbar-link">
          <span class="material-icons">home</span>Home
        </a>
        <a href="/climbs" class="navbar-link">
          <span class="material-icons">dashboard</span>All Climbs
        </a>
        <% if (user) { %>
          <a href="/logout" class="navbar-link right-icon">
            <span class="material-icons">logout</span> Log Out
          </a>
      <% } else { %>
          <a href="/auth/google" class="navbar-link right-icon">
            <span class="material-icons">account_circle</span>Login with Google
          </a>
      <% } %>
    </nav>
    <main>