body {
  padding: 50px;
  background-color: #BDC2BF;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1{
  text-align: center;
  font-family: 'Bebas Neue', cursive;
}

div.container{
  background-color: #f2f2f298;
  padding: 25px;
  border-radius: 7px;
}


.navbar{
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background: #009879;
  border-right: 2px solid #008C71;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.25);
}

.navbar-link{
  display: flex;
  align-items: center;
  background: #009879;
  color: white;
  text-decoration: none;
  padding: 15px;
  font-size: 0.9rem;
  border-bottom: 1px solid #009879;
}

.navbar-link .material-icons{
  margin-right: 5px;
}

.right-icon{
  margin-left: auto;
}

.navbar-link:active{
  background: #007D65;
}

.home-container{
  background-size: auto auto;
  text-align: center;
}

.edit-bar{
  display:flex;
  max-width: fit-content;
  padding: 10px;
  margin:auto;
}

.edit-bar .edit-form{
  margin-right: 5px;
}

.edit-bar .upload-form{
  margin-right: 5px;
}

.page{
  text-align: center;
}

.center{
  margin-left: auto;
  margin-right: auto;
}

#new-submit-button{
  width: 100%;
  background-color: #04AA6D;
  font-size: 25px;
  color: white;
  padding: 10px 25px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#edit-button{
  width: 100%;
  background-color: #04AA6D;
  font-size: 25px;
  color: white;
  padding: 10px 25px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#new-form > input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#edit-form > input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#review-form{
  padding: 20px 0px;
}

#image-submit{
  align-content: center;
}

#edit-link{
  display: flex;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  background-color: #efefef;
  color: black;
  align-items: center;
  text-decoration: none;
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
}

#delete-review > button{
  color: red;
  font-style: italic;
}

#all-climbs,#add-climbing-post{
  padding: 15px;
  font-size: 24px;
  font-family: 'Bebas Neue', cursive;
  text-decoration: none;
  background-color: #04AA6D;
  color: white;
}

.select-btn{
  padding: 2px;
  font-family: 'Bebas Neue', cursive;
  text-decoration: none;
  background-color: #59b7b9;
  color: white;
  border-radius: 4px;
}

#all-climbs:hover,#add-climbing-post:hover{
  background: #007D65;
}

table, th, td{
  background-color: #202932;
  color: white;
  border: 1px solid black;
  padding: 5px;
}

td{
  background-color: #2d3745;
}

.delete-form button{
  color: red;
  margin: 20px 0px;
}

.edit-form button{
  color: black;
  margin: 20px 0px;
}

.upload-form button{
  color: black;
  margin: 20px 0px;
}
